<form id='editfile' method='post' action='uploadfile/upload' enctype='multipart/form-data'>
    <div><input name="version" type="text" placeholder="输入版本号"/></div>
    <div><input name="name" type="text" placeholder="输入备注" /></div>
    <div><input name="avatar" id='upfile' type='file'/></div>
    <input type='submit' value='提交'/>
</form>